* {
  /* border: dotted; */
  box-sizing: border-box;
}
:root {
  --green: #06d6a0;
  --red: #ef476f;
  --yelow: #ffd166;
  --blue: #118ab2;
  --dark: #073b4c;
}
.container {
  width: 800px;
  margin: auto;
}

h1 {
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: var(--green);
  color: var(--dark);
}
.input-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  width: 85%;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: var(--dark);
}

:focus-visible {
  outline: none;
}
.button {
  width: 25%;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--green);
  color: var(--dark);
  cursor: pointer;
}

.delete.button:hover {
  background-color: var(--red);
}
.button:hover {
  background-color: var(--yelow);
}

li {
  display: flex;
  position: relative;
  right: 40px;
  width: 800px;
  font-size: 20px;
}
span {
  border: solid;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--yelow);
}
ul {
  list-style-type: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
